<nav
  class="fixed lg:top-8 md:top-6 lg:left-8 md:right-0 md:left-0 lg:mx-0 md:mx-auto md:px-8 lg:px-0 px-6 lg:py-9 lg:w-24 md:w-[95%] w-full lg:h-[94%] h-[72px] flex lg:flex-col flex-row justify-between items-center md:rounded-xl shadow-lg bg-navy"
>
  <app-icons iconType="icon-logo" />

  <!-- Icons section -->
  <div
    class="flex lg:flex-col flex-row gap-10 xl:-mt-[500px] lg:-mt-[300px] items-center"
  >
    <app-icons
      class="md:w-5 md:h-5 w-4 h-4 cursor-pointer"
      iconType="icon-nav-home"
      (click)="navigateTo('home')"
    />
    <app-icons
      class="md:w-5 md:h-5 w-4 h-4 cursor-pointer"
      iconType="icon-nav-movies"
      (click)="navigateTo('movies')"
    />
    <app-icons
      class="md:w-5 md:h-5 w-4 h-4 cursor-pointer"
      iconType="icon-nav-tv"
      (click)="navigateTo('shows')"
    />
    <app-icons
      class="md:w-5 md:h-5 w-4 h-4 cursor-pointer"
      iconType="icon-nav-bookmark"
      (click)="navigateTo('bookmarks')"
    />
  </div>

  <!-- Avatar section -->
  <div>
    <img
      class="lg:w-10 lg:h-10 md:w-8 md:h-8 w-6 h-6 border border-white rounded-full cursor-pointer"
      src="assets/avatar.png"
      alt="Avatar"
      (click)="onLogout()"
      (keydown.enter)="onLogout()"
      tabindex="0"
    />
  </div>
</nav>
