<app-sidenav />
<div class="lg:ml-32 lg:px-9">
  <app-search (search)="onSearch($event)" />

  <div class="pt-32 mx-8">
    @if (searchQuery) {
      <div>
        <h2 class="text-white text-4xl pb-6">
          Found {{ (searchResults$ | async)?.length }} results for ‘{{
            searchQuery
          }}’
        </h2>
        @if (searchResults$ | async) {
          <div
            class="lg:flex lg:flex-wrap grid sm:grid-cols-3 grid-cols-2 overflow-y-auto gap-24 mt-6 scrollbar-hide"
          >
            @for (movie of searchResults$ | async; track $index) {
              <app-movie-card [movie]="movie"></app-movie-card>
            }
          </div>
        }
      </div>
    }
    <h2 class="text-white text-4xl pb-6 lg:my-0 my-10">Movies</h2>
    @if (movies$ | async) {
      <div
        class="lg:flex lg:flex-wrap grid sm:grid-cols-3 grid-cols-2 overflow-y-auto lg:gap-24 mt-6 scrollbar-hide"
      >
        @for (movie of movies$ | async; track $index) {
          <app-movie-card [movie]="movie"></app-movie-card>
        }
      </div>
    }
  </div>
</div>
