<app-sidenav />
<div class="lg:ml-32 lg:px-9">
  <app-search (search)="onSearch($event)" />

  <div class="pt-32 mx-8">
    @if (searchQuery) {
      <div>
        <h2 class="text-white text-4xl pb-6">
          Found {{ (searchResults$ | async)?.length }} results for ‘{{
            searchQuery
          }}’
        </h2>
        @if (searchResults$ | async) {
          <div
            class="flex flex-wrap overflow-y-auto gap-24 mt-6 scrollbar-hide"
          >
            @for (show of searchResults$ | async; track $index) {
              <app-movie-card [show]="show"></app-movie-card>
            }
          </div>
        }
      </div>
    }
    <h2 class="text-white text-4xl pb-6">Tv Shows</h2>
    @if (shows$ | async) {
      <div class="flex flex-wrap overflow-y-auto gap-24 mt-6 scrollbar-hide">
        @for (show of shows$ | async; track $index) {
          <app-movie-card [show]="show"></app-movie-card>
        }
      </div>
    }
  </div>
</div>
